## Reshaping DataFrame objects

In [45]:
import pandas as pd
import numpy as np
cdystonia = pd.read_csv("cdystonia.csv", index_col=None)
cdystonia.head()

   patient  obs  week  site  id  treat  age sex  twstrs
0        1    1     0     1   1  5000U   65   F      32
1        1    2     2     1   1  5000U   65   F      30
2        1    3     4     1   1  5000U   65   F      24
3        1    4     8     1   1  5000U   65   F      37
4        1    5    12     1   1  5000U   65   F      39

In [46]:
stacked = cdystonia.stack()
stacked

0    patient        1
     obs            1
     week           0
     site           1
     id             1
     treat      5000U
     age           65
     sex            F
     twstrs        32
1    patient        1
     obs            2
     week           2
     site           1
     id             1
     treat      5000U
     age           65
     sex            F
     twstrs        30
2    patient        1
     obs            3
     week           4
     site           1
     id             1
     treat      5000U
     age           65
     sex            F
     twstrs        24
3    patient        1
     obs            4
     week           8
                ...
627  age           57
     sex            M
     twstrs        38
628  patient      109
     obs            4
     week           8
     site           9
     id            11
     treat      5000U
     age           57
     sex            M
     twstrs        33
629  patient      109
     obs            5
     week          12
     site           9
     id            11
     treat      5000U
     age           57
     sex            M
     twstrs        36
630  patient      109
     obs            6
     week          16
     site           9
     id            11
     treat      5000U
     age           57
     sex            M
     twstrs        51
Length: 5679, dtype: object

In [47]:
stacked.unstack().head()

  patient obs week site id  treat age sex twstrs
0       1   1    0    1  1  5000U  65   F     32
1       1   2    2    1  1  5000U  65   F     30
2       1   3    4    1  1  5000U  65   F     24
3       1   4    8    1  1  5000U  65   F     37
4       1   5   12    1  1  5000U  65   F     39

In [5]:
cdystonia2 = cdystonia.set_index(['patient','obs'])
cdystonia2.head()

             week  site  id  treat  age sex  twstrs
patient obs
1       1       0     1   1  5000U   65   F      32
        2       2     1   1  5000U   65   F      30
        3       4     1   1  5000U   65   F      24
        4       8     1   1  5000U   65   F      37
        5      12     1   1  5000U   65   F      39

In [48]:
# To check the crediblity of the pkey
cdystonia2.index.is_unique

True

## Pivoting

In [54]:
cdystonia.head()

   patient  obs  week  site  id  treat  age sex  twstrs
0        1    1     0     1   1  5000U   65   F      32
1        1    2     2     1   1  5000U   65   F      30
2        1    3     4     1   1  5000U   65   F      24
3        1    4     8     1   1  5000U   65   F      37
4        1    5    12     1   1  5000U   65   F      39

In [53]:
cdystonia[(cdystonia['patient'] == 1) & (cdystonia['obs'] == 2)]

   patient  obs  week  site  id  treat  age sex  twstrs
1        1    2     2     1   1  5000U   65   F      30

In [55]:
cdystonia.pivot(index='patient', columns='obs', values=['twstrs','treat'])

        twstrs                             treat                             \
obs          1    2    3    4    5    6        1        2        3        4
patient
1           32   30   24   37   39   36    5000U    5000U    5000U    5000U
2           60   26   27   41   65   67   10000U   10000U   10000U   10000U
3           44   20   23   26   35   35    5000U    5000U    5000U    5000U
4           53   61   64   62  NaN  NaN  Placebo  Placebo  Placebo  Placebo
5           53   35   48   49   41   51   10000U   10000U   10000U   10000U
6           49   34   43   48   48   51   10000U   10000U   10000U   10000U
7           42   32   32   43   42   46    5000U    5000U    5000U    5000U
8           34   33   21   27   32   38  Placebo  Placebo  Placebo  Placebo
9           41   32   34   35   37   36    5000U    5000U    5000U    5000U
10          27   10   31   32    6   14  Placebo  Placebo  Placebo  Placebo
11          48   41   32   35   57   51   10000U   10000U   10000U   10000U
12          34   19   21   24   28   28  Placebo  Placebo  Placebo  Placebo
13          49   47   44   48   44   44  Placebo  Placebo  Placebo  Placebo
14          46   35   45   49   53   56    5000U    5000U    5000U    5000U
15          56   44   48   54   49   60   10000U   10000U   10000U   10000U
16          59   48   56   55   57   58    5000U    5000U    5000U    5000U
17          62   60   60   64   67   66   10000U   10000U   10000U   10000U
18          50   53   52   57   61   54  Placebo  Placebo  Placebo  Placebo
19          42   42   43   33   37   43   10000U   10000U   10000U   10000U
20          53   56   52   54   55   51  Placebo  Placebo  Placebo  Placebo
21          67   64   65   64   62   64    5000U    5000U    5000U    5000U
22          44   40   32   36   42   43  Placebo  Placebo  Placebo  Placebo
23          65   58   55  NaN   56   60   10000U   10000U   10000U      NaN
24          56   54   52   48   52   53    5000U    5000U    5000U    5000U
25          30   33   25   29   32   32  Placebo  Placebo  Placebo  Placebo
26          47  NaN   54   43   46   50    5000U      NaN    5000U    5000U
27          50   43   51   46   49   53   10000U   10000U   10000U   10000U
28          34   29   27   21   22   22  Placebo  Placebo  Placebo  Placebo
29          39   41   33   39   37   37    5000U    5000U    5000U    5000U
30          43   31   29   28   33   38  Placebo  Placebo  Placebo  Placebo
...        ...  ...  ...  ...  ...  ...      ...      ...      ...      ...
80          46   39   25   15   21   25  Placebo  Placebo  Placebo  Placebo
81          41   30   44   46   46   44   10000U   10000U   10000U   10000U
82          33   27   25   30   28   30    5000U    5000U    5000U    5000U
83          36   15   16   17   22   41    5000U    5000U    5000U    5000U
84          33   32   31   27   49   60   10000U   10000U   10000U   10000U
85          37  NaN  NaN  NaN  NaN  NaN  Placebo      NaN      NaN      NaN
86          24   29   18   20   25   41   10000U   10000U   10000U   10000U
87          42   23   30   36   41   43    5000U    5000U    5000U    5000U
88          30   22   21   25   26   33  Placebo  Placebo  Placebo  Placebo
89          42   46   41   43   49   54  Placebo  Placebo  Placebo  Placebo
90          49   25   30   49   55   58   10000U   10000U   10000U   10000U
91          58   46   46   50   56   60    5000U    5000U    5000U    5000U
92          26   26   27   22   38   35  Placebo  Placebo  Placebo  Placebo
93          37  NaN   23   18   34   36    5000U      NaN    5000U    5000U
94          40   24   25   37  NaN   38   10000U   10000U   10000U   10000U
95          33   10   13   16   32   16    5000U    5000U    5000U    5000U
96          41   50   22   28   34   36   10000U   10000U   10000U   10000U
97          46  NaN   41   41   58   53  Placebo      NaN  Placebo  Placebo
98          40   28   29   30   37   44   10000U   10000U   10000U   10000U
99          40   16   18   25   33   48   10000U   10000U   10000U   10000U
100         61   52   61   68   59   71  Placebo  Placebo  Placebo  Placebo
101         35   21   29   30   35   48    5000U    5000U    5000U    5000U
102         58   38   50   53   47   59  Placebo  Placebo  Placebo  Placebo
103         49   45   36  NaN   40   52    5000U    5000U    5000U      NaN
104         52   46   36  NaN   45   54   10000U   10000U   10000U      NaN
105         45   46   33   44   46   48  Placebo  Placebo  Placebo  Placebo
106         67   63   71   66   68   71    5000U    5000U    5000U    5000U
107         57  NaN   36   23  NaN   52   10000U      NaN   10000U   10000U
108         63   51   46   50   50   54   10000U   10000U   10000U   10000U
109         53   38  NaN   33   36   51    5000U    5000U      NaN    5000U


obs            5        6
patient
1          5000U    5000U
2         10000U   10000U
3          5000U    5000U
4            NaN      NaN
5         10000U   10000U
6         10000U   10000U
7          5000U    5000U
8        Placebo  Placebo
9          5000U    5000U
10       Placebo  Placebo
11        10000U   10000U
12       Placebo  Placebo
13       Placebo  Placebo
14         5000U    5000U
15        10000U   10000U
16         5000U    5000U
17        10000U   10000U
18       Placebo  Placebo
19        10000U   10000U
20       Placebo  Placebo
21         5000U    5000U
22       Placebo  Placebo
23        10000U   10000U
24         5000U    5000U
25       Placebo  Placebo
26         5000U    5000U
27        10000U   10000U
28       Placebo  Placebo
29         5000U    5000U
30       Placebo  Placebo
...          ...      ...
80       Placebo  Placebo
81        10000U   10000U
82         5000U    5000U
83         5000U    5000U
84        10000U   10000U
85           NaN      NaN
86        10000U   10000U
87         5000U    5000U
88       Placebo  Placebo
89       Placebo  Placebo
90        10000U   10000U
91         5000U    5000U
92       Placebo  Placebo
93         5000U    5000U
94           NaN   10000U
95         5000U    5000U
96        10000U   10000U
97       Placebo  Placebo
98        10000U   10000U
99        10000U   10000U
100      Placebo  Placebo
101        5000U    5000U
102      Placebo  Placebo
103        5000U    5000U
104       10000U   10000U
105      Placebo  Placebo
106        5000U    5000U
107          NaN   10000U
108       10000U   10000U
109        5000U    5000U

[109 rows x 12 columns]

In [58]:
cdystonia.pivot('patient', 'obs')['site']

obs        1    2    3    4    5    6
patient
1        1.0  1.0  1.0  1.0  1.0  1.0
2        1.0  1.0  1.0  1.0  1.0  1.0
3        1.0  1.0  1.0  1.0  1.0  1.0
4        1.0  1.0  1.0  1.0  NaN  NaN
5        1.0  1.0  1.0  1.0  1.0  1.0
6        1.0  1.0  1.0  1.0  1.0  1.0
7        1.0  1.0  1.0  1.0  1.0  1.0
8        1.0  1.0  1.0  1.0  1.0  1.0
9        1.0  1.0  1.0  1.0  1.0  1.0
10       1.0  1.0  1.0  1.0  1.0  1.0
11       1.0  1.0  1.0  1.0  1.0  1.0
12       1.0  1.0  1.0  1.0  1.0  1.0
13       2.0  2.0  2.0  2.0  2.0  2.0
14       2.0  2.0  2.0  2.0  2.0  2.0
15       2.0  2.0  2.0  2.0  2.0  2.0
16       2.0  2.0  2.0  2.0  2.0  2.0
17       2.0  2.0  2.0  2.0  2.0  2.0
18       2.0  2.0  2.0  2.0  2.0  2.0
19       2.0  2.0  2.0  2.0  2.0  2.0
20       2.0  2.0  2.0  2.0  2.0  2.0
21       2.0  2.0  2.0  2.0  2.0  2.0
22       2.0  2.0  2.0  2.0  2.0  2.0
23       2.0  2.0  2.0  NaN  2.0  2.0
24       2.0  2.0  2.0  2.0  2.0  2.0
25       2.0  2.0  2.0  2.0  2.0  2.0
26       2.0  NaN  2.0  2.0  2.0  2.0
27       3.0  3.0  3.0  3.0  3.0  3.0
28       3.0  3.0  3.0  3.0  3.0  3.0
29       3.0  3.0  3.0  3.0  3.0  3.0
30       3.0  3.0  3.0  3.0  3.0  3.0
...      ...  ...  ...  ...  ...  ...
80       8.0  8.0  8.0  8.0  8.0  8.0
81       8.0  8.0  8.0  8.0  8.0  8.0
82       8.0  8.0  8.0  8.0  8.0  8.0
83       8.0  8.0  8.0  8.0  8.0  8.0
84       8.0  8.0  8.0  8.0  8.0  8.0
85       8.0  NaN  NaN  NaN  NaN  NaN
86       8.0  8.0  8.0  8.0  8.0  8.0
87       8.0  8.0  8.0  8.0  8.0  8.0
88       8.0  8.0  8.0  8.0  8.0  8.0
89       8.0  8.0  8.0  8.0  8.0  8.0
90       8.0  8.0  8.0  8.0  8.0  8.0
91       8.0  8.0  8.0  8.0  8.0  8.0
92       8.0  8.0  8.0  8.0  8.0  8.0
93       8.0  NaN  8.0  8.0  8.0  8.0
94       8.0  8.0  8.0  8.0  NaN  8.0
95       8.0  8.0  8.0  8.0  8.0  8.0
96       8.0  8.0  8.0  8.0  8.0  8.0
97       8.0  NaN  8.0  8.0  8.0  8.0
98       8.0  8.0  8.0  8.0  8.0  8.0
99       9.0  9.0  9.0  9.0  9.0  9.0
100      9.0  9.0  9.0  9.0  9.0  9.0
101      9.0  9.0  9.0  9.0  9.0  9.0
102      9.0  9.0  9.0  9.0  9.0  9.0
103      9.0  9.0  9.0  NaN  9.0  9.0
104      9.0  9.0  9.0  NaN  9.0  9.0
105      9.0  9.0  9.0  9.0  9.0  9.0
106      9.0  9.0  9.0  9.0  9.0  9.0
107      9.0  NaN  9.0  9.0  NaN  9.0
108      9.0  9.0  9.0  9.0  9.0  9.0
109      9.0  9.0  NaN  9.0  9.0  9.0

[109 rows x 6 columns]

In [59]:
pd.crosstab(cdystonia.sex, cdystonia.site)

site   1   2   3   4   5   6   7   8   9
sex
F     52  53  42  30  22  54  66  48  28
M     18  29  30  18  11  33   6  58  33

## Data aggregation and GroupBy operations

In [60]:
cdystonia_grouped = cdystonia.groupby(cdystonia.site)

In [61]:
cdystonia['site'].value_counts()

8    106
6     87
2     82
7     72
3     72
1     70
9     61
4     48
5     33
Name: site, dtype: int64

In [63]:
type(cdystonia_grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [65]:
# To view the groups created
cdystonia_grouped.groups

{1: Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
             34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
             51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
             68, 69],
            dtype='int64'),
 2: Int64Index([ 70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,
              83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,
              96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108,
             109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121,
             122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134,
             135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147,
             148, 149, 150, 151],
            dtype='int64'),
 3: Int64Index([152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164,
             165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177,
             178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190,
             191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203,
             204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
             217, 218, 219, 220, 221, 222, 223],
            dtype='int64'),
 4: Int64Index([224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236,
             237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249,
             250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262,
             263, 264, 265, 266, 267, 268, 269, 270, 271],
            dtype='int64'),
 5: Int64Index([272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284,
             285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297,
             298, 299, 300, 301, 302, 303, 304],
            dtype='int64'),
 6: Int64Index([305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317,
             318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330,
             331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343,
             344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356,
             357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369,
             370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382,
             383, 384, 385, 386, 387, 388, 389, 390, 391],
            dtype='int64'),
 7: Int64Index([392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404,
             405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417,
             418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430,
             431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443,
             444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456,
             457, 458, 459, 460, 461, 462, 463],
            dtype='int64'),
 8: Int64Index([464, 465, 466, 467, 468, 469, 470, 471, 472, 473,
             ...
             560, 561, 562, 563, 564, 565, 566, 567, 568, 569],
            dtype='int64', length=106),
 9: Int64Index([570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582,
             583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595,
             596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608,
             609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621,
             622, 623, 624, 625, 626, 627, 628, 629, 630],
            dtype='int64')}

In [66]:
# To view a single group
cdystonia_grouped.get_group(2)

     patient  obs  week  site  id    treat  age sex  twstrs
70        13    1     0     2   1  Placebo   70   F      49
71        13    2     2     2   1  Placebo   70   F      47
72        13    3     4     2   1  Placebo   70   F      44
73        13    4     8     2   1  Placebo   70   F      48
74        13    5    12     2   1  Placebo   70   F      44
75        13    6    16     2   1  Placebo   70   F      44
76        14    1     0     2   2    5000U   49   F      46
77        14    2     2     2   2    5000U   49   F      35
78        14    3     4     2   2    5000U   49   F      45
79        14    4     8     2   2    5000U   49   F      49
80        14    5    12     2   2    5000U   49   F      53
81        14    6    16     2   2    5000U   49   F      56
82        15    1     0     2   3   10000U   59   F      56
83        15    2     2     2   3   10000U   59   F      44
84        15    3     4     2   3   10000U   59   F      48
85        15    4     8     2   3   10000U   59   F      54
86        15    5    12     2   3   10000U   59   F      49
87        15    6    16     2   3   10000U   59   F      60
88        16    1     0     2   4    5000U   64   M      59
89        16    2     2     2   4    5000U   64   M      48
90        16    3     4     2   4    5000U   64   M      56
91        16    4     8     2   4    5000U   64   M      55
92        16    5    12     2   4    5000U   64   M      57
93        16    6    16     2   4    5000U   64   M      58
94        17    1     0     2   5   10000U   45   F      62
95        17    2     2     2   5   10000U   45   F      60
96        17    3     4     2   5   10000U   45   F      60
97        17    4     8     2   5   10000U   45   F      64
98        17    5    12     2   5   10000U   45   F      67
99        17    6    16     2   5   10000U   45   F      66
..       ...  ...   ...   ...  ..      ...  ...  ..     ...
122       21    5    12     2   9    5000U   47   F      62
123       21    6    16     2   9    5000U   47   F      64
124       22    1     0     2  10  Placebo   31   M      44
125       22    2     2     2  10  Placebo   31   M      40
126       22    3     4     2  10  Placebo   31   M      32
127       22    4     8     2  10  Placebo   31   M      36
128       22    5    12     2  10  Placebo   31   M      42
129       22    6    16     2  10  Placebo   31   M      43
130       23    1     0     2  11   10000U   53   F      65
131       23    2     2     2  11   10000U   53   F      58
132       23    3     4     2  11   10000U   53   F      55
133       23    5    12     2  11   10000U   53   F      56
134       23    6    16     2  11   10000U   53   F      60
135       24    1     0     2  12    5000U   61   M      56
136       24    2     2     2  12    5000U   61   M      54
137       24    3     4     2  12    5000U   61   M      52
138       24    4     8     2  12    5000U   61   M      48
139       24    5    12     2  12    5000U   61   M      52
140       24    6    16     2  12    5000U   61   M      53
141       25    1     0     2  13  Placebo   40   M      30
142       25    2     2     2  13  Placebo   40   M      33
143       25    3     4     2  13  Placebo   40   M      25
144       25    4     8     2  13  Placebo   40   M      29
145       25    5    12     2  13  Placebo   40   M      32
146       25    6    16     2  13  Placebo   40   M      32
147       26    1     0     2  14    5000U   67   M      47
148       26    3     4     2  14    5000U   67   M      54
149       26    4     8     2  14    5000U   67   M      43
150       26    5    12     2  14    5000U   67   M      46
151       26    6    16     2  14    5000U   67   M      50

[82 rows x 9 columns]

In [44]:
# Group by aggreagationsm

In [72]:
cdystonia_grouped.agg(np.mean)

         patient       obs      week         id        age     twstrs
site
1       6.571429  3.442857  6.800000   6.571429  59.000000  37.600000
2      19.378049  3.512195  7.048780   7.378049  53.780488  50.292683
3      32.500000  3.500000  7.000000   6.500000  51.500000  34.611111
4      42.500000  3.500000  7.000000   4.500000  59.250000  42.083333
5      49.424242  3.484848  6.969697   3.424242  51.666667  44.363636
6      59.827586  3.448276  6.827586   7.827586  51.344828  46.425287
7      73.500000  3.500000  7.000000   6.500000  59.250000  39.861111
8      89.028302  3.490566  6.981132  10.028302  58.132075  34.537736
9     103.836066  3.491803  7.016393   5.836066  55.770492  47.065574

In [74]:
cdystonia_grouped.mean()

         patient       obs      week         id        age     twstrs
site
1       6.571429  3.442857  6.800000   6.571429  59.000000  37.600000
2      19.378049  3.512195  7.048780   7.378049  53.780488  50.292683
3      32.500000  3.500000  7.000000   6.500000  51.500000  34.611111
4      42.500000  3.500000  7.000000   4.500000  59.250000  42.083333
5      49.424242  3.484848  6.969697   3.424242  51.666667  44.363636
6      59.827586  3.448276  6.827586   7.827586  51.344828  46.425287
7      73.500000  3.500000  7.000000   6.500000  59.250000  39.861111
8      89.028302  3.490566  6.981132  10.028302  58.132075  34.537736
9     103.836066  3.491803  7.016393   5.836066  55.770492  47.065574

In [42]:
cdystonia_grouped.count()

      patient  obs  week   id  treat  age  sex  twstrs
site
1          70   70    70   70     70   70   70      70
2          82   82    82   82     82   82   82      82
3          72   72    72   72     72   72   72      72
4          48   48    48   48     48   48   48      48
5          33   33    33   33     33   33   33      33
6          87   87    87   87     87   87   87      87
7          72   72    72   72     72   72   72      72
8         106  106   106  106    106  106  106     106
9          61   61    61   61     61   61   61      61

In [76]:
cdystonia_grouped.agg(np.sum)

      patient  obs  week    id   age  twstrs
site
1         460  241   476   460  4130    2632
2        1589  288   578   605  4410    4124
3        2340  252   504   468  3708    2492
4        2040  168   336   216  2844    2020
5        1631  115   230   113  1705    1464
6        5205  300   594   681  4467    4039
7        5292  252   504   468  4266    2870
8        9437  370   740  1063  6162    3661
9        6334  213   428   356  3402    2871

In [77]:
cdystonia_grouped.mean().add_suffix('_mean')

      patient_mean  obs_mean  week_mean    id_mean   age_mean  twstrs_mean
site
1         6.571429  3.442857   6.800000   6.571429  59.000000    37.600000
2        19.378049  3.512195   7.048780   7.378049  53.780488    50.292683
3        32.500000  3.500000   7.000000   6.500000  51.500000    34.611111
4        42.500000  3.500000   7.000000   4.500000  59.250000    42.083333
5        49.424242  3.484848   6.969697   3.424242  51.666667    44.363636
6        59.827586  3.448276   6.827586   7.827586  51.344828    46.425287
7        73.500000  3.500000   7.000000   6.500000  59.250000    39.861111
8        89.028302  3.490566   6.981132  10.028302  58.132075    34.537736
9       103.836066  3.491803   7.016393   5.836066  55.770492    47.065574

In [78]:
cdystonia.groupby(['week','site']).mean().head()

           patient  obs   id        age     twstrs
week site
0    1         6.5  1.0  6.5  59.000000  43.083333
     2        19.5  1.0  7.5  53.928571  51.857143
     3        32.5  1.0  6.5  51.500000  38.750000
     4        42.5  1.0  4.5  59.250000  48.125000
     5        49.5  1.0  3.5  51.833333  49.333333